.footer {
  margin-bottom: 96px;
  &__inner {
    padding-top: $space-xxxxl;
    border-top: 4px solid #fff;
    width: 1100px;
    margin: 0 auto;
  }
  &__copy {
    text-align: left;
  }
  &__social {
    text-align: right;
  }
}