.text {
  line-height: 1.4em;
  &_size {
    &_xs {
      font-size: $size-typo-xs;
    }
    &_s {
      font-size: $size-typo-s;
    }
    &_m {
      font-size: $size-typo-m;
    }
    &_l {
      font-size: $size-typo-l;
    }
    &_xl {
      font-size: $size-typo-xl;
      line-height: 1.4em;
    }
    &_xxl {
      font-size: $size-typo-xxl;
      line-height: 1.3em;
    }
    &_xxxl {
      font-size: $size-typo-xxxl;
      line-height: 1.2em;
    }
    &_xxxxl {
      font-size: 96px;
      line-height: 1.2em;
      letter-spacing: 3px;
    }
  }
  &_type {
    &_h1 {
      margin-bottom: 0.6em;
      font-size: 32px;
    }
    &_h2 {
      margin: 2.4em 0 1em;
    }
    &_h3 {
      margin: 2.4em 0 0em; /* margin: 2.4em 0 0em; */
    }
    &_p {
      margin: 1em 0 1.4em;
      line-height: 1.4;
    }
    &_blockquote {
      line-height: 1.4em;
      margin-left: 4em;
      padding-left: 1em;
      margin-bottom: 1.4em;
      border-left: 3px solid #0446DC;
      line-height: 1.4em;
    }
  }
  &_indent {
    &_xxxs {
      margin-bottom: 2px;
    }
    &_xxs {
      margin-bottom: 4px;
    }
    &_xs {
      margin-bottom: 8px;
    }
    &_s {
      margin-bottom: 12px;
    }
    &_m {
      margin-bottom: 16px;
    }
    &_l {
      margin-bottom: 20px;
    }
    &_xl {
      margin-bottom: 24px;
    }
    &_xxl {
      margin-bottom: 32px;
    }
    &_xxxl {
      margin-bottom: 48px;
    }
    &_xxxxl {
      margin-bottom: 96px;
    }
    
  }
  &_spacing {
    &_s {
      letter-spacing: 1px;
    }
    &_m {
      letter-spacing: 2px;
    }
    &_xl {
      letter-spacing: 6px;
    }
  }
  &_view {
    &_active {
      color: $color-typo-inverse;
      opacity: .2;
      &:hover {
        cursor: pointer;
      }
    }
    &_primary {
      color: $color-typo-primary;
    }
    &_secondary {
      color: $color-typo-secondary;
    }
    &_promo {
      color: $color-typo-promo;
    }
    &_action {
      color: $color-typo-action;
      
    }
    &_disable {
      color: $color-typo-disable;
    }
    &_inverse {
      color: $color-typo-inverse;
    }
    &_link {
      color: $color-link;
      text-decoration: none;
      &:hover {
        color : $color-link-hover;
      }
    }
    &_letter {
      color: $color-typo-letter;
    }
    &_income {
      color: $color-typo-income;
    }
    &_ghost {
      color: #AAA;
    }
  }
  &_weight {
    &_bold {
      font-weight: bold;
    }
    &_black {
      font-weight: 900;
    }
    &_light {
      font-weight: 300;
    }
    &_thin {
      font-weight: 100;
    }
  }
  &_transform {
    &_uppercase {
      text-transform: uppercase;
    }
  }
  &_align {
    &_left {
      text-align: left;
    }
    &_center {
      text-align: center;
    }
    &_right {
      text-align: right;
    }
  }
  &_style {
    &_italic {
      font-style: italic;
    }
    &_underline {
      font-style: underine;
    }
  }
  &_display {
    &_inline {
      display: inline;
    }
    &_inline-block {
      display: inline-block;
    }
  }
  &_font {
    &_serif {
      font-family: 'PT Serif', serif;
    }
    &_sanf {
      font-family: 'PT Sans', sans-serif;
    }
  }
}