.user {
  height: 128px;
  background: #fff;
  border-radius: 4px; 
  display: flex;
  align-items: center;
  padding: 32px;
  box-sizing: border-box;
  color: #000;
  position: relative;
  justify-content: space-between;
  &__content {
    display: flex;
    align-items: center;
  }
  &__photo {
    width: 82px;
    height: 82px;
    margin-right: 16px;
    background: #e5e5e5;
  }
  &__info {
    border-radius: 50%;
  }
  &__add {
    
  }
  &__name {
    font-size: 20px;
    margin-bottom: 4px;
  }
  &__company {
    font-size: 15px;
    margin-bottom: 2px;
  }
  &__website {
    font-size: 15px;
  }
}