.changes {
  display: flex;
  opacity: .2;
  &__comments {
    margin-left: $space-xl;
    font-size: 15px;
    color: #aaa;
    
  }
  &__nums {
    display: flex;
  }
  &__num {
    margin-left: $space-xxs;
    font-size: 15px;
    letter-spacing: 2px;
    &_action {
      &_plus {
        color: #55a532;
      }
    }
    &_action {
      &_minus {
        color: #bd2c00;
      }
    }
    &:first-child {
      margin-left: 0px;
    }
  }
  &__list {
    display : flex;
    margin-bottom: $space-l;
    margin-left: $space-s;
  }
  &__item {
    width: 16px;
    height: 16px;
    margin-left: $space-xxxs;
    background: gray;
    &_action {
      &_plus {
        background: #55a532;
      }
      &_minus {
        background: #bd2c00;
      }
    }

    &:first-child {
      margin-left: 0px;
    }
  }
}