.code-toggle {
  position: absolute;
  top: 36px;
  right: 36px;
  border: 2px solid #000;
  display: inline-flex;
  font-size: 15px;

  &__item {
    width: 120px;
    height: 48px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    &_state {
      &_active {
        background: #fff;
        color: #000;
      }
    }
  }
}
