.code-example {
  box-sizing: border-box;
/*  margin-bottom: 120px; */
  padding: 36px;
  width: 1100px;
  background: #fff;
  position: relative;
  display: none;
  &_state {
    &_active {
      display: block;
    }
  }
  &__info {
    width: 720px;
  }
  &__close {
    width: 48px;
    height: 48px;
    position: absolute;
    top: -48px;
    right: -48px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E%3Cg fill='none' fill-rule='evenodd' transform='translate%28-10 -10%29'%3E%3Cpolygon fill='%23FFFFFF' points='38 12.82 35.18 10 24 21.18 12.82 10 10 12.82 21.18 24 10 35.18 12.82 38 24 26.82 35.18 38 38 35.18 26.82 24'/%3E%3Cpolygon points='0 0 48 0 48 48 0 48'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
  &__item {
    background: #000;
    width: 500px;
    box-sizing: border-box;
    position: relative;
  }
  &__steps {
    &_type {
      &_bemhtml {

      }
      &_html {
        display: none;
      }
    }
    display: flex;
    justify-content: space-between;
  }
}
