.advantages {
  &__row {
    display: flex;
    margin-bottom: 32px;
  }
  &__col {
    width: 240px;
    display: flex;
    margin-left: 24px;
    &:first-child {
      margin-left: 0px;
    }
  }
  &__icon {
    width: 24px;
    height: 24px;
    /* background: #fff; */
    margin-right: $space-s;
    margin-top: 0px;
  }
}