.code-nav {
  height: 48px;
  width: 360px;
  position: absolute;
  bottom: -60px;
  left: 50%;
  margin-left: -180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__prev {
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='24' viewBox='0 0 15 24'%3E%3Cg fill='none' fill-rule='evenodd' transform='translate%28-16 -12%29'%3E%3Cpolygon fill='%23FFFFFF' points='30.82 14.82 28 12 16 24 28 36 30.82 33.18 21.66 24'/%3E%3Cpolygon points='0 0 48 0 48 48 0 48'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
  &__steps {

  }
  &__next {
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='24' viewBox='0 0 15 24'%3E%3Cg fill='none' fill-rule='evenodd' transform='translate%28-17 -12%29'%3E%3Cpolygon fill='%23FFFFFF' points='20 12 17.18 14.82 26.34 24 17.18 33.18 20 36 32 24'/%3E%3Cpolygon points='0 0 48 0 48 48 0 48'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
}