.video {
  height: 300px;
  position: relative;
  &__overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: 600px;
    transition-duration: .3s;
    background-image: url('https://raw.githubusercontent.com/koloskof/bem-xjst-demo/master/screencast.png');
    opacity: .5;
    border-radius: 4px;
  }
  &__play {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #ff0000;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
    &:hover {
      cursor: pointer;
    }
  }
  &:hover {
    .video__overlay {
      opacity: .7;
    }
  }
}